<h1>Productos por ID</h1>
<h2>{{products.title}}</h2>
    <p> {{products.description}} </p>
    <p> {{products.id}} </p>
    <p> {{products.price}} </p>
    <p> {{products.category}} </p>
    <p> {{products.stock}} </p>
    <img src="{{products.thumbnails}}" alt="">
